%h2 Account Profile

%p
  %strong
    Name:
  = current_account.full_name
%p
  %strong
    Email:
  = current_account.email

%p
  - if @profile.blank?
    = link_to "Create Profile", new_accounts_profile_path
  - else
    = link_to "Update Profile", edit_accounts_profile_path