#admin-overview
  %h2.pull-left Your posts
  %p.text-right.pull-right.mt2
    = link_to "Create Post", new_admin_post_path, class: "btn btn-primary"
  %span.clearfix
  .shortline


  .table-responsive
    %table.table
      %thead
        %tr
          %th Screenshot
          %th Title
          %th Summary
          %th Comments
          %th Published
          %th Created
          %th Updated
          %th
      %tbody
        = render @posts
    = paginate @posts