#sidebar.col-md-3
  .sidebar-element.bgwhite.nopadding.create-post
    %h3.text-center.nomargin
      = link_to new_admin_post_path, class:'show p3', alt: '' do
        %span.glyphicon.glyphicon-plus
        %h4 Create new post
