#sidebar.col-md-3
  .sidebar-element.bgwhite.nopadding.create-post
    %h3.text-center.nomargin
      %a.show.p3{:href => '#', :alt => ''}
        %span.glyphicon.glyphicon-plus
        %h4 Create new post
