#sidebar.col-md-3
  - unless @current_author.blank?
    - unless @current_author.profile.blank?
      .sidebar-element.bgwhite.user-shortinfo
        .row.mb2
          .col-md-4
            - unless @current_author.profile.avatar.blank?
              = image_tag @current_author.profile.avatar, :class => 'img-responsive'
          .col-md-8.nopadding
            %h4.user-name
              = link_to @current_author.full_name, account_path(@current_author)
        .row
          .col-md-12
            %p.user-shortdesc
              = truncate (@current_author.profile.description), length: 125
    

  - if @current_author == current_account        
    .sidebar-element.bgwhite.nopadding.create-post
      %h3.text-center.nomargin
        = link_to new_admin_post_path, class:'show p3', alt: '' do
          %span.glyphicon.glyphicon-plus
          %h4 Create new post
