//Todo: Mobile image
.row.mb2
  .col-md-12.nopadding
    .bgwhite.topnotice
      Notice with image
.container
  .row
    #posts.col-md-9
      .row
        = render @posts
        = paginate @posts
    = render "sidebar";