= jwplayer_assets
.row.mb2
  .col-md-12.nopadding
    .bgwhite.topnotice
      .container
        %h2
          Create your own video blog
.container
  .row
    #posts.col-md-9
      .row
        = render @posts
        = paginate @posts
    = render "sidebar";