.container
  .row
    = render "sidebar";
    #posts.col-md-9
      .page-status
        .row
          .col-md-4
            .bgwhite.status-done
              .status-head
                %span.status-icon
                %span Congratulations
              .status-body
                You have created your own videopage!
          .col-md-4
            .bgwhite
              .status-head
                %span.status-icon
                %span Your first post
              .status-body
                Now you can create quickly your first video post

          .col-md-4
            .bgwhite
              .status-head
                %span.status-icon
                %span Publish
              .status-body
                After creating your video post, you can publish this!
      .row.post-container
        = render @posts
  .row
    .col-md-9
      = paginate @posts