#admin-overview {
  margin-bottom: 20px;

  .shortline {
    margin-bottom: 50px;
  }

  table {
    margin-top: -20px;
  }
}
#new-post {
  margin-bottom: 20px;
}
#edit-post {
  margin-bottom: 20px;
}
.help {

  p {
    color: $grey2;
  }
}