.alert-notice{
  @extend .alert-info;
}
.alert-alert{
  @extend .alert-danger;
}
#admin-overview {

  .shortline {
    margin-bottom: 50px;
  }

  table {
    margin-top: -20px;
  }
}
.help {

  p {
    color: $grey2;
  }
}
.editprofileimg {
  max-width: 200px;
}