$bodybg: #1b5565;
$light: #ffffff;
$dark: #000000;
$grey1: #eeeeee;
$grey2: #cccccc;
$grey3: #888888;
$grey4: #666666;
$grey5: #444444;
$grey6: #222222;
$primary: #1c7c97;
$secondary: #306371;
$primarybg: #1c7c97;
$secondarybg: #306371;