#footer {
  margin-top: 40px;

  .footer-nav {
    color: $light;

    a {
      color: $light;
      font-weight: 400;
      margin: 0 5px;
      @include transition(all 300ms ease);

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $secondary;
      }
    }
  }
  .copyright {
    font-size: .9em;
    margin-right: 20px;
  }
}