#top-header {
  font-weight: 600;
  height: 100px;
  background-color: $light;
  @include box-shadow(0 0px 6px 1px $grey5);
  border: none;
  z-index: 2;
  font-size: 1.2em;

  .main-nav {
    margin: 15px 0 0 40px;

    a {
      display: inline;
      padding: 0;

      &:hover {
        background-color: transparent!important;
        color: $secondary;
      }
    }
  }

  .nav,
  .nav-tabs {
    border: none;
  }

  .navbar-brand {
    padding: 0 0 0 7px;
    margin-right: 20px;
  }

  a {
    color: $grey4;
    @include transition(all 300ms ease);

    &:hover {
      color: $secondary;
      text-decoration: none;
    }
  }

  .header-content {
    padding-top: 23px;
    height: 100%;
  }
}
.topnotice {
  background: url('/assets/noticeimg.jpg') center -130px no-repeat;
  background-size: cover;
  height: 420px;
  padding: 300px 0 0 0;

  h2{
    color: $light;
    font-size: 3em;
    @include text-shadow(0 1px 2px $grey2);
  }
}
.navbar-toggle {
  background-color: $primarybg;
  color: $light;
  border: none;

  &:hover {
    background-color: $secondarybg!important;
  }
}
.navbar-collapse {
  background-color: $light;
  border-color: $grey1!important;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    display: inline-block;
    padding: 15px 0;
  }
}