#top-header {
  height: 100px;
  background-color: $light;
  @include box-shadow(0 0px 6px 1px lighten($grey4, 30));
  border: none;
  z-index: 1;
  font-size: 1.2em;

  .nav,
  .nav-tabs {
    border: none;
  }

  .navbar-brand {
    padding: 0 0 0 7px;
  }

  a {
    color: $grey4;
    @include transition(all 300ms ease);

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }

  .header-content {
    padding-top: 23px;
    height: 100%;
  }
}
.topnotice {
  background: url('/assets/noticeimg.jpg') center -130px no-repeat;
  background-size: cover;
  height: 420px;
  padding: 300px 0 0 0;

  h2{
    color: $light;
    font-size: 3em;
    @include text-shadow(0 1px 2px $grey2);
  }
}