@media screen and(max-width: 980px) {
  #top-header {

    .navbar-brand {
      width: 248px;
    }
  }
  #sidebar {
    float: none!important;

    .sidebar-element {
      text-align: center;
    }
  }
  .navbar-collapse {

    a {
      display: block;
    }
  }
}