@media screen and (max-width: 980px) {
  #top-header {

    .navbar-brand {
      width: 227px;

      img {
        width: 100%;
      }
    }
  }
  #posts {
    padding: 15px 0;
  }
  #sidebar {
    float: none!important;
    padding-left: 0;
    padding-right: 0;

    .sidebar-element {
      text-align: center;
    }
  }
  .navbar-collapse {

    a {
      display: block;
    }
  }
  #showprofile {
    text-align: center;

    .show-blogalias {
      text-align: center;
    }
    .follower-count {
      display: none;
    }
    .profile-actions {

      a {
        display: block;
        width: 100%;
        margin-bottom: 3px;
        padding: 14px;
      }
    }
  }
  #footer {
    .footer-nav {
      text-align: center;

      .copyright {
        display: block;
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }
}