@media screen and (max-width: 980px) {
  #top-header {

    .navbar-brand {
      width: 227px;

      img {
        width: 100%;
      }
    }
  }
  #posts {
    padding: 15px 0;
  }
  #sidebar {
    float: none!important;
    padding-left: 0;
    padding-right: 0;

    .sidebar-element {
      text-align: center;
    }
  }
  .navbar-collapse {

    a {
      display: block;
    }
  }
}