@media screen and(max-width: 980px) {
  .topnotice {
    background: url('/assets/noticeimg.jpg') center bottom no-repeat;
    padding: 250px 0 0 0;
  }
  #sidebar {
    float: none!important;

    .sidebar-element {
      text-align: center;
    }
  }
}