#content{
  margin-top: 80px;
  margin-bottom: 10px;
}

#contentbody{
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0, .25);
  box-shadow: 0 5px 5px 0 rgba(0,0,0, .25);
}
#contentbody .panel{
	margin-bottom: 0;
}

.intro{
  padding-bottom: 35px;
}
.infodata{
  padding: 0 20px 10px 20px;
  border-left: 2px dotted #3b4c54;
}
.infodata .value{
color: $primary;
display: block;
font-family: "Roboto Condensed",sans-serif;
font-size: 4em;
font-weight: 600;
line-height: 1em;
margin-left: -4px;
}
.profilesettings {
  min-height: 290px!important;
}


/* @group helpers */
.pless{
 padding: 0;
}
.mless{
  margin: 0;
}
.bor{
 	border-right: 1px solid #ddd;
}
.bol {
  border-left: 1px solid #ddd;
}
.bob{
  border-bottom: 1px solid #ddd;
}
.bot{
	border-top: 1px solid #ddd;
}
#content .icon-small{
	font-size: 1em;
	margin: 0;
}


.divider{
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 0;
  margin: 25px 0;
}
.bgcolor{
	background: $primarybg;
  color: #fff;
}
/* @end */


#settings{
  background: rgba(255,255,255, .985);
  color: #333333;
  padding-bottom: 2em;
}


/* @group profile */
#profile{
  padding: 0;
  display: none;
  background: #FFF;
}

#profile > div{
  padding: 15px;
}
#profile .welcome h1{
  margin: 0 0 .5em 0;
  padding: 0 0 .5em 0;
  color: $primary;
}
#profile .welcome h1 .small{
  color: #AAAAAA;
}
.profileimg{
  position: relative;
  max-width: 200px;
}
.profileimg a:link, .profileimg a:visited{
  position: absolute;
  left: 10%;
  bottom: 2%;
  background: $primary;
  color: white;
  padding: .2em .2em;
  display: block;
  font-size: 1.3em;
  text-align: center;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  overflow: hidden;
width: 1.8em;	
 -webkit-transition: all 200ms ease;
-moz-transition: all 200ms ease;
-ms-transition: all 200ms ease;
-o-transition: all 200ms ease;
transition: all 200ms ease;
}
.profileimg a:link .txt{
  display:inline-block;
  overflow: hidden;
  font-size: 0.8em;
  line-height: 1em;
  margin: 0;
  float: right;
  padding: 0 .3em;
  text-transform: uppercase;
  width: 0;
  height: 0;
 -webkit-transition: all 50ms ease;
-moz-transition: all 50ms ease;
-ms-transition: all 50ms ease;
-o-transition: all 50ms ease;
transition: all 50ms ease;
}
.profileimg a:hover{
  width: 80%;
  padding-left: 5%;
  padding-right: 5%;
}
.profileimg a:hover .txt{
  width: auto;
  height: 1em;
}


#profile .actions{
  margin: 1.7em  0 0 0;
}
 
#profile .actions a{
  padding: .7em 0 .3em 0;
  display: block;
  color: #FFF;
  font-size: 2em;
   -webkit-transition: all 400ms ease;
-moz-transition: all 400ms ease;
-ms-transition: all 400ms ease;
-o-transition: all 400ms ease;
transition: all 400ms ease;
}

#profile .actions a:hover{
  padding-left: .2em;
}
#profile .actions a span{
  margin-right: .1em;
  font-size: 1.1em;
}




/* @end */



/* @group panel */
.panel-actions .panel-heading{
  padding: 0;
  width: 100%;
  border:none;
  border-bottom: 1px solid $primary;
}
.panel-actions .panel-tabs li{
  display: inline-block;
  font-size: 1.3em;
  width: 25%;
  border-color: $primary;
}

.panel-actions .panel-tabs li.w75{
  display: inline-block;
  font-size: 1.3em;
  width: 75%;
  border-color: $primary;
}
.panel-actions .panel-tabs li a, .panel-actions .panel-tabs li a:link, .panel-actions .panel-tabs li a:visited {
	color: $primary;
	margin: 0;
	font-size: 1.25em;
	padding-top: 1em;
	padding-bottom: 20px!important;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 50%, #007ab5 51%, #3ea7d9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(51%,#3ea7d9), color-stop(100%,#007ab5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#3ea7d9 51%,#007ab5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#3ea7d9 51%,#007ab5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#3ea7d9 51%,#007ab5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 50%,#3ea7d9 51%,#007ab5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#007ab5',GradientType=0 ); /* IE6-9 */
	background-size: 100% 210%;
	background-position: center top;
}
.panel-actions .panel-tabs li a:hover, .panel-actions .panel-tabs li a:active{
	color: #FFF;
	padding-bottom: 10px;
	background-position: center bottom;
}
.panel-actions .panel-tabs li.active a{
  border-bottom: 10px solid $primary;
  color: #757575;
  padding-bottom: 0;
}

.panel-actions .panel-tabs li.active a:hover{
  color: #FFFFFF;
}
.panel-actions .panel-tabs li a span{
  font-size: 2.5em;
}

.panel-actions .panel-body{
  border: none;
}

.panel-actions .tab-pane{
  padding: 0.5em 2em;
}
/* @end */
/* @group alerts Buttons and soms other standards */
.btn, a.btn, input.btn{
	-webkit-border-radius: 3px;
border-radius: 3px;
  color: #FFF;
  border: none;
  font-weight: 400;
  font-size: 1.15em;
  text-shadow: none;
}
a.btn-default:link, a.btn-default:visited{
  background: $primary;
}
a.btn-default:hover, a.btn-default:active{
  background: $primary;
  color: #FFF;
}
a.btn-info:link, a.btn-info:visited{
  background: $primary;
}
a.btn-info:hover, a.btn-info:active{
  background: #64c3d2;
}
a.btn-warning:link, a.btn-warning:visited{
  background: #fbdb2c;
}
a.btn-warning:hover, a.btn-warning:active{
  background: #f7be1a;
}
a.btn-danger:link, a.btn-danger:visited{
  background: #fc4d4d;
}
a.btn-danger:hover, a.btn-danger:active{
  background: #eb1f1f;
}
.btn-group.actions a:link, .btn-group.actions a:visited{
  color: #444;
  font-size: 1.1em;
}
.btn-group.actions a:hover, .btn-group.actions a:active{
  color: $primary;
}
/* @end */

/* @group progres */
.progress {
    position: relative;
	height: 33px!important;
	margin: 15px 0;
	display: block;
	background: #faf7f2;
	overflow: hidden;
}
.progress-bar{
  	background: #f4ede3;
	background-image: -moz-linear-gradient(top,  #f4ede3 0%, #e8e3dc 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4ede3), color-stop(100%,#e8e3dc)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  #f4ede3 0%,#e8e3dc 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  #f4ede3 0%,#e8e3dc 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  #f4ede3 0%,#e8e3dc 100%); /* IE10+ */
	background-image: linear-gradient(to bottom,  #f4ede3 0%,#e8e3dc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4ede3', endColorstr='#e8e3dc',GradientType=0 ); /* IE6-9 */
	box-shadow:none;
	-webkit-box-shadow: none;
}
.progress-bar-info{
	background: #00a8e2;
	background-image: -moz-linear-gradient(top,  #00a8e2 0%, #008ec0 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a8e2), color-stop(100%,#008ec0)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  #00a8e2 0%,#008ec0 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  #00a8e2 0%,#008ec0 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  #00a8e2 0%,#008ec0 100%); /* IE10+ */
	background-image: linear-gradient(to bottom,  #00a8e2 0%,#008ec0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a8e2', endColorstr='#008ec0',GradientType=0 ); /* IE6-9 */
}
.progress-bar-success{
	background: #9abf04;
	background-image: -moz-linear-gradient(top,  #aae200 0%, #9abf04 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aae200), color-stop(100%,#9abf04)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  #aae200 0%,#9abf04 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  #aae200 0%,#9abf04 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  #aae200 0%,#9abf04 100%); /* IE10+ */
	background-image: linear-gradient(to bottom,  #aae200 0%,#9abf04 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aae200', endColorstr='#9abf04',GradientType=0 ); /* IE6-9 */
	box-shadow:none;
	-webkit-box-shadow: none;
}
.progress-bar-warning{
	background: #fbdb2c;
	background-image: -moz-linear-gradient(top,  #fbdb2c 0%, #e9d359 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbdb2c), color-stop(100%,#e9d359)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  #fbdb2c 0%,#e9d359 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  #fbdb2c 0%,#e9d359 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  #fbdb2c 0%,#e9d359 100%); /* IE10+ */
	background-image: linear-gradient(to bottom,  #fbdb2c 0%,#e9d359 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbdb2c', endColorstr='#e9d359',GradientType=0 ); /* IE6-9 */
}
.progress-bar-danger{
	background: #fc4d4d;
	background-image: -moz-linear-gradient(top,  #fc4d4d 0%, #eb1f1f 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc4d4d), color-stop(100%,#eb1f1f)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  #fc4d4d 0%,#eb1f1f 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  #fc4d4d 0%,#eb1f1f 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  #fc4d4d 0%,#eb1f1f 100%); /* IE10+ */
	background-image: linear-gradient(to bottom,  #fc4d4d 0%,#eb1f1f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc4d4d', endColorstr='#eb1f1f',GradientType=0 ); /* IE6-9 */
}
.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 400;
	padding: 6px 30px 6px 10px;
	color: rgb(255, 255, 255);
	font-size: 1.1em;
	text-shadow: 1px 1px 1px rgba(0,0,0, .5);
}
.progress > a.progress-action {
	position: absolute;
	right: -100px;
	width: 135px;
	font-weight: 500;
	padding: 4px 10px 6px 10px;
	display: block;
	color: #999;
	background: rgba(245,245,245, .0);
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	-ms-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	transition: all 250ms linear;
}
.progress > a.progress-action span.txt{
	font-size: 1em;
	padding: 3px;
	display: inline-block;
}
.progress > a.progress-action span.glyphicon{
	font-size: 1.25em;
	padding: 0 10px 0 0;
    top: 3px;
}
.progress:hover > a.progress-action, .progress:focus > a.progress-action{
  right: 0;
  color: #FFF;
  background: rgba(0,142,192, .9);
}
.progress:hover > a.progress-action span.glyphicon{
  padding: 0 5px 0 0;
  color: #FFF;
}
/* @end */

/* @group timeline */

#timeline {
  list-style: none;
  position: relative;
}
#timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #0769a1;
  left: 50%;
  margin-left: -1.5px;
}
#timeline .clearFix {
  clear: both;
  height: 0;
}
#timeline .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -25px;
  background-color: #0769a1;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
#timeline .timeline-badge span.timeline-balloon-date-day {
  font-size: 1.4em;
}
#timeline .timeline-badge span.timeline-balloon-date-month {
  font-size: .7em;
  position: relative;
  top: -10px;
}
#timeline .timeline-badge.timeline-filter-movement {
  background-color: #ffffff;
  font-size: 1.7em;
  height: 35px;
  margin-left: -18px;
  width: 35px;
  top: 40px;
}
#timeline .timeline-badge.timeline-filter-movement a span {
  color: #0769a1;
  font-size: 1.3em;
  top: -1px;
}
#timeline .timeline-badge.timeline-future-movement {
  background-color: #ffffff;
  height: 35px;
  width: 35px;
  font-size: 1.7em;
  top: -16px;
  margin-left: -18px;
}
#timeline .timeline-badge.timeline-future-movement a span {
  color: #00a8e2;
  font-size: .9em;
  top: 2px;
  left: 1px;
}
#timeline .timeline-movement {
  border-bottom: dashed 1px #00a8e2;
  position: relative;
}
#timeline .timeline-movement.timeline-movement-top {
  height: 60px;
}
#timeline .timeline-movement .timeline-item {
  padding: 20px 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #666;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul {
  text-align: right;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li {
  color: #666;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li span.importo {
  color: #0769a1;
  font-size: 1.3em;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul {
  text-align: left;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul span.importo {
  color: #00a8e2;
  font-size: 1.3em;
}

/* @end */



/* @group Sort menu */
.list-group {
	overflow: hidden;
}
.list-group-item:first-child, .list-group-item:last-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	overflow: hidden;
}
.list-group-item {
	border-left: 0px solid rgb(221, 221, 221);
	border-right: 0px solid rgb(221, 221, 221);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.list-group-item > .show-menu {
	position: absolute;
	height: 100%; width:24px;
	top: 0px; right: 0px;
	background-color: rgba(51, 51, 51, 0.2);
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.list-group-item > .show-menu > span {
	position: absolute;
	top: 50%;
	margin-top: -7px;
	padding: 0px 5px;
}
.list-group-submenu {
	position: absolute;
	top: 0px;
	right: -88px;
	white-space: nowrap;
	list-style: none;
	padding-left: 0px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.list-group-submenu .list-group-submenu-item {
	float: right;
	white-space: nowrap;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: rgb(51, 51, 51);
	color: rgb(235, 235, 235);
}
.list-group-item.open > .show-menu {
	right: 88px;
}
.list-group-item.open .list-group-submenu{
	right: 0px;
}



/* @end */
body .form-control:focus, .tokenfield.focus {
    border-color: #9ec81c;
    color: #9ec81c;
    box-shadow: none;
    outline: 0 none;
}


.alert.flash {
  margin: 10px 20px;
}
.progress-bar {
    background: linear-gradient(to bottom, #80ce11 0%, #569200 100%) repeat scroll 0 0 #80ce11;
    box-shadow: none;
}
.box-header{
  padding: 10px 20px;
  border-bottom: 1px solid $primary;
  min-height: 60px;
}
.box-header h2{
  margin: 0;
  padding-top: 4px;
  font-weight: 300;
}
.box-header h2 span{
  margin: 3px 5px 0 0;
  font-size: 0.8em;
}
.box-header .btn{
  font-size: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
}
.box-header .btn span{
  font-size: 0.9em;
  margin: 3px 5px 0 0;
}
.box-body{
  padding: 20px 20px;
  min-height: 355px;
}
.box-body h5{
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: 'Roboto Condensed';
}
.recorder-container{
	display: block;
	background: #000;
	text-align: center;
	overflow: hidden;
	@include border-radius(4px 4px 0 0)
}
.recorder-body{
  padding: 0 15px 20px 15px;
}
.recorder-body .btn{
	text-transform: uppercase;
}
.ui-hint{
  color: $primary;
}





