#page {

  h1,h2,h3,h4{
    color: $primary;
  }
  .secondarycolor {
    color: $secondary;
  }
}
//Homepage
#myCarousel {
  margin-bottom: 20px;

  .carousel-caption {
    text-align: left;
    left: 10%;

    h2 {
      color: $light;
      @include box-shadow(none);
    }
  }
}
