#posts {
  .post {
    margin-bottom: 30px;

    .bgwhite {
      padding: 20px 20px 0 20px;
    }

    .post-top {
      margin: 20px 0 10px 0;
    }

    .post-title {
      font-size: 1.5em;
      font-weight: 300;
      margin: 5px 0 0 0;

      a {
        font-weight: 600;
        text-transform: uppercase;
        @include transition(all 300ms ease);
        color: $primary;

        &:hover {
          text-decoration: none;
          color: $secondary;
        }
      }
    }
    .post-meta {
      color: $grey2;
      font-size: .9em;

      a {
        @include transition(all 300ms ease);
      }
    }
    .video-thumb {

      img {
        width: 100%;
        height: auto;
      }
    }
    .excerpt {
      color: $grey5;
    }
    .read {
      display: block;
      width: calc(100% + 10px)!important;
      margin: 30px 0 0 -5px!important;
      padding: 20px;
      @include transition(all 300ms ease);

      .search-text {
        opacity: 0;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 300;
        color: $primary;
        @include transition(opacity 400ms 150ms ease-in);
      }

      &:hover {

        text-decoration: none;

        .search-text {
          opacity: 1;
        }
        .searchicon {
          margin: 1px 180px 0 0;
        }

        span {
          color: $primary;
        }
      }

      padding: 20px;
      margin: 10px 0 0 0;

      .searchicon {
        color: $grey1;
        display: block;
        font-size: 1.5em;
        font-weight: 300;
        @include transition(margin 400ms 150ms ease-in);
      }
    }
  }
  .special-post {
    margin-bottom: 20px;
  }
}
.pagination {

  span {

    &.current {
      color: $light;
      display: inline-block;
      padding: 10px 15px;
      background: $secondary;
      border: 1px solid lighten($secondary, 10);
    }

    a {
      color: $primary;
      display: inline-block;
      padding: 10px 15px;
      background: $light;
      @include transition(all 300ms ease);

      &:hover {
        color: $light;
        background: $secondary;

        text-decoration: none;
      }
    }

  }
}
// Responsive videos
.video-container {
  position: relative;
  padding-bottom: 56%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}