#showprofile {

  .profile-fullname {
    margin: 45px 0 0 0;
  }
  .show-blogalias {
    margin-top: 45px;
  }
  .follower-count {
    position: absolute;
    right: 3px;
    top: 20px;
    background-color: $secondarybg;
    color: $light;
    padding-top: 15px;
    font-weight: 600;
    @include box-shadow(0 0 0 7px $light);
    cursor: default;
    width: 50px;
    height: 50px;
    text-align: center;
  }
}
#profile-videos {
  .profile-video {

    .video-hv {
      opacity: 0;
      background-color: rgba($secondarybg, .6);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      @include transition(all 300ms ease);

      .glyphicon {
        color: $light;
        font-size: 3em;
        height: 40px;
        left: 50%;
        margin-left: -20px;
        margin-top: -20px;
        position: absolute;
        top: 50%;
        width: 40px;
      }
    }

    &:hover {

      .video-hv {
        opacity: 1;
      }
    }
  }
}