#showprofile {

  .profile-fullname {
    margin: 45px 0 0 0;
  }
  .show-blogalias {
    margin-top: 45px;
  }
  .follower-count {
    position: absolute;
    right: 3px;
    top: 20px;
    background-color: $secondarybg;
    color: $light;
    padding-top: 15px;
    font-weight: 600;
    @include box-shadow(0 0 0 7px $light);
    cursor: default;
    width: 50px;
    height: 50px;
    text-align: center;
  }
}
#profile-videos {
  .profile-video {

    .video-hv {
      opacity: 0;
      background-color: rgba($secondarybg, .6);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      @include transition(all 300ms ease);

      .glyphicon {
        color: $light;
        font-size: 3em;
        height: 40px;
        left: 50%;
        margin-left: -20px;
        margin-top: -20px;
        position: absolute;
        top: 50%;
        width: 40px;
      }
    }

    &:hover {

      .video-hv {
        opacity: 1;
      }
    }
  }
}

/* Plans */
#plans {

  ul {
    list-style: none;
    overflow: hidden;

    li {
      padding: 15px;
      border: 1px solid darken($light, 2);

      &.plan-head {
        padding: 0;
        @include border-radius(5px 5px 0 0);
        overflow: hidden;
        text-align: center;

        h3 {
          background-color: $primary;
          color: $light;
          margin: 0;
          padding: 15px;
          font-size: 2.3em;
        }
      }
      &.plan-image {
        margin: 0;
        padding: 30px;
        text-align: center;

        img {
          max-width: 100%;
          height: auto;
        }
        .price {
          font-size: 3.5em;

          .price-small {
            font-size: .5em;
            color: $grey3;
          }
        }
      }
      &.yes,
      &.no {
        border-bottom: 1px solid darken($grey1, 5);
        background-color: lighten($grey1, 5);
        position: relative;
        padding-right: 55px;
        word-break: break-all;
        font-weight: 400;
        @include transition(al 300ms);

        &:hover {
          &:hover {
            background-color: lighten($grey1, 4);
          }
        }
      }
      &.yes {

        &:after {
          content: '';
          background: asset-url('checker.png') -2px 0px no-repeat;
          position: absolute;
          right: 10px;
          top: 12px;
          width: 30px;
          height: 30px;
        }
      }
      &.no {

        &:after {
          content: '';
          background: asset-url('checker.png') -2px -72px no-repeat;
          position: absolute;
          right: 10px;
          top: 12px;
          width: 30px;
          height: 30px;
        }
      }
      &.buy {
        background-color: $primarybg;
        text-align: center;
        padding: 0;
        overflow: hidden;
        @include border-radius(0 0 5px 5px);

        a {
          color: $light;
          font-weight: 500;
          font-size: 1.2em;
          display: block;
          padding: 15px;
          @include transition(all 300ms);

          &:hover {
            background-color: $secondarybg;
          }
        }
      }
    }
  }
}