.baio-login {

  a {

    &:hover {
      text-decoration: none;
    }
  }

  span {

    &.baio-logo {
      background: asset-url('/assets/baiologo.png', 'image') no-repeat left -28px transparent;
      width: 46px;
      display: inline-block;
      height: 23px;
      vertical-align: -3px;
    }
  }
}