#sidebar {

  .sidebar-element {
    margin-bottom: 15px;

    &.create-post {

      a {
        color: $secondary;
        @include transition(all 300ms ease);

        span{
          @include transition(all 300ms ease);
        }

        &:hover {
          text-decoration: none;

          span {
            -moz-transform: rotate(90deg);
          }
        }
      }
    }
    .user-name {
      margin-top: 15px;
    }
  }
}