// Mixins
@mixin box-shadow($boxshadow) {
  -moz-box-shadow: $boxshadow;
  -webkit-box-shadow: $boxshadow;
  -o-box-shadow: $boxshadow;
  box-shadow: $boxshadow;
}
@mixin transition($transition) {
  -moz-transition: $transition;
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

//Load font
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

//Basic
html{
  margin-top: 90px;
}
body {
  padding-top: 100px;
  background: $bodybg url('/assets/bgimage.png') center center no-repeat fixed;
  background-size: cover;
  font-family: "Open Sans";
  font-weight: 400;
}
.bgwhite {
  background-color: $light;
  @include box-shadow(0 2px 11px 1px lighten($dark, 30));
  padding: 20px;
}
.nopadding {
  padding: 0!important;
}

//Font
h2, h3, h4, h5{
  color: $secondary;
}
