// Mixins
@mixin box-shadow($boxshadow) {
  -moz-box-shadow: $boxshadow;
  -webkit-box-shadow: $boxshadow;
  -o-box-shadow: $boxshadow;
  box-shadow: $boxshadow;
}
@mixin text-shadow($textshadow) {
  -moz-text-shadow: $textshadow;
  -webkit-text-shadow: $textshadow;
  -o-text-shadow: $textshadow;
  text-shadow: $textshadow;
}
@mixin transition($transition) {
  -moz-transition: $transition;
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin border-radius($borderradius) {
  -moz-border-radius: $borderradius;
  -webkit-border-radius: $borderradius;
  -o-border-radius: $borderradius;
  border-radius: $borderradius;
}

//Load font
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

//Basic
html {
  background: $bodybg url('/assets/bgimage.jpg') center center no-repeat fixed;
  background-size: cover;
}
body {
  padding-top: 130px;
  font-family: "Open Sans";
  font-weight: 300;
  background-color: rgba($primary, .9);
}
.bgwhite {
  background-color: $light;
  @include box-shadow(0 2px 11px 1px $grey6);
  padding: 20px;
  margin-bottom: 20px;
}
.nopadding {
  padding: 0!important;
}
.nomargin {
  margin: 0!important;
}
.mb2 {
  margin-bottom: 20px!important;
}
.mt2 {
  margin-top: 20px;
}
.p3 {
  padding: 30px!important;
}
.shortline {
  height: 3px;
  background-color: $secondary;
  width: 30%;
  margin: 10px 0;
}

//Buttons
.btn {
  @include border-radius(0);
  border: none;
  @include transition(all 300ms ease);

  &:hover {
    background-color: $secondary!important;
  }

  &.btn-primary {
    background-color: $primarybg;
  }
  &.btn-secondary {
    background-color: $secondarybg;
    color: $light;
  }
  &.btn-default,
  &.btn-back {
    background-color: $grey2;
    color: $light;
  }
  &.btn-info {
    background-color: $grey2;
  }
  &.btn-danger {
    &:hover {
      opacity: .9;
      background-color: #d9534f!important;
    }
  }
}

//Nav tabs
.nav,
.nav-tabs {
  margin-bottom: 20px;
  border-bottom: 1px solid $grey1;

  a, span {
    display: block;
    padding: 10px 15px;
    color: $secondary;
  }
  a {
    @include transition(all 300ms ease);
    color: $grey3;

    &:hover {
      background-color: $secondary!important;
      color: $light;
    }
  }
}

//Forms
textarea {
  resize: none;
  padding: 10px!important;
}
label {
  color: $primary;
}

//Font
h2, h3, h4, h5{
  color: $primary;
}
a {
  color: $secondary;

  &:hover {
    outline: none;
    text-decoration: none;
    color: $primary;
  }
  &.tertiarycolor {
    color: $tertiary!important;

    &:hover {
      color: $secondary!important;
    }
  }
}
p {
  margin-bottom: 10px;
}

//Tables
table {

  td {
    font-size: .9em;
  }
}

//Alerts
.alert {
  background-color: $light;
  color: $primary;
  position: fixed;
  width: 50%;
  margin-left: -25%;
  margin-top: -5%;
  left: 50%;
  top: 50%;
  z-index: 1;
  padding: 20px;
}