//Load fonts
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700italic,700);

@mixin box-shadow($boxshadow) {
  -moz-box-shadow: $boxshadow;
  -webkit-box-shadow: $boxshadow;
  -o-box-shadow: $boxshadow;
  box-shadow: $boxshadow;
}
@mixin text-shadow($textshadow) {
  -moz-text-shadow: $textshadow;
  -webkit-text-shadow: $textshadow;
  -o-text-shadow: $textshadow;
  text-shadow: $textshadow;
}
@mixin transition($transition) {
  -moz-transition: $transition;
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin border-radius($borderradius) {
  -moz-border-radius: $borderradius;
  -webkit-border-radius: $borderradius;
  -o-border-radius: $borderradius;
  border-radius: $borderradius;
}

//Basic
html:not([app='videopage7']) body:before {
  background: none!important;
}
body {
  padding: 130px 0 20px 0;
  font-family: "Roboto";
  font-weight: 300;
  background: asset-url('bgimage.jpg', 'image') center center no-repeat fixed;
  background-size: cover;
}
body:before {
  content: "";
  display: block;
  background: #f9fae8;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  z-index:-1;
  background: -moz-linear-gradient(left,  rgba($tertiary,0.9) 0%, rgba($tertiary,0.9) 2%, rgba($bodybg,0.9) 53%, rgba($bodybg,0.9) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba($tertiary,0.9)), color-stop(2%,rgba($tertiary,0.9)), color-stop(53%,rgba($bodybg,0.9)), color-stop(100%,rgba($bodybg,0.9)));
  background: -webkit-linear-gradient(left,  rgba($tertiary,0.9) 0%,rgba($tertiary,0.9) 2%,rgba($bodybg,0.9) 53%,rgba($bodybg,0.9) 100%);
  background: -o-linear-gradient(left,  rgba($tertiary,0.9) 0%,rgba($tertiary,0.9) 2%,rgba($bodybg,0.9) 53%,rgba($bodybg,0.9) 100%);
  background: -ms-linear-gradient(left,  rgba($tertiary,0.9) 0%,rgba($tertiary,0.9) 2%,rgba($bodybg,0.9) 53%,rgba($bodybg,0.9) 100%);
  background: linear-gradient(to right,  rgba($tertiary,0.9) 0%,rgba($tertiary,0.9) 2%,rgba($bodybg,0.9) 53%,rgba($bodybg,0.9) 100%);
}
.bgwhite {
  background-color: $light;
  @include box-shadow(0 2px 11px 1px $grey6);
  padding: 20px;
  margin-bottom: 20px;
}
.nopadding {
  padding: 0!important;
}
.nomargin {
  margin: 0!important;
}
.mb2 {
  margin-bottom: 20px!important;
}
.mt2 {
  margin-top: 20px;
}
.ml0 {
  margin-left: 0!important;
}
.mr0 {
  margin-right: 0!important;
}
.p3 {
  padding: 30px!important;
}
.prelative {
  position: relative;
}
.shortline {
  height: 3px;
  background-color: $secondary;
  width: 30%;
  margin: 10px 0;
}

//Colors
.secondarytext {
  color: $secondary!important;
}

//Buttons
.btn {
  @include border-radius(0);
  border: none;
  @include transition(all 300ms ease);

  &:hover {
    background-color: $secondary!important;
  }

  &.btn-primary {
    background-color: $primarybg;
  }
  &.btn-secondary {
    background-color: $secondarybg;
    color: $light;

    &:hover {
      background-color: darken($secondarybg, 7)!important;
    }
  }
  &.btn-default,
  &.btn-back {
    background-color: $grey4;
    color: $light;
  }
  &.btn-info {
    background-color: $grey2;
  }
  &.btn-danger {
    &:hover {
      opacity: .9;
      background-color: #d9534f!important;
    }
  }
}

//Nav tabs
.nav,
.nav-tabs {
  margin-bottom: 20px;
  border-bottom: 1px solid $grey1;

  a, span {
    display: block;
    padding: 10px 15px;
    color: $secondary;
  }
  a {
    @include transition(all 300ms ease);
    color: $grey3;

    &:hover {
      background-color: $secondary!important;
      color: $light;
    }
  }
}

//Forms
textarea {
  resize: none;
  padding: 10px!important;
}
label {
  color: $primary;
}

//Font
h2, h3, h4, h5{
  color: $primary;
}
a {
  color: $secondary;

  &:hover {
    outline: none;
    text-decoration: none;
    color: $primary;
  }
  &.tertiarycolor {
    color: $tertiary!important;

    &:hover {
      color: $secondary!important;
    }
  }
}
p {
  margin-bottom: 10px;
}

//Tables
table {

  td {
    font-size: .9em;
  }
}

//Alerts
.alert {
  background-color: $light;
  color: $primary;
  position: fixed;
  width: 50%;
  margin-left: -25%;
  margin-top: -5%;
  left: 50%;
  top: 50%;
  z-index: 1;
  padding: 20px;
}
.page-status {

  .bgwhite {
    padding-bottom: 30px;
    text-align: center;

    &.status-done {
      background-color: $secondarybg;
      color: $light;

      .status-head {
        color: $light;
      }
    }
  }

  .status-head {
    margin-bottom: 10px;
    font-size: 1.4em;
    color: $secondary;

    .status-icon {
      font-size: 5em;
      margin-bottom: 20px;
    }

    .status-number {
      font-size: 3em;
      font-weight: 600;
    }
  }
  .status-body {
    margin: 5px;
  }
}