// Mixins
@mixin box-shadow($boxshadow) {
  -moz-box-shadow: $boxshadow;
  -webkit-box-shadow: $boxshadow;
  -o-box-shadow: $boxshadow;
  box-shadow: $boxshadow;
}
@mixin text-shadow($textshadow) {
  -moz-text-shadow: $textshadow;
  -webkit-text-shadow: $textshadow;
  -o-text-shadow: $textshadow;
  text-shadow: $textshadow;
}
@mixin transition($transition) {
  -moz-transition: $transition;
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin border-radius($borderradius) {
  -moz-border-radius: $borderradius;
  -webkit-border-radius: $borderradius;
  -o-border-radius: $borderradius;
  border-radius: $borderradius;
}

//Load font
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

//Basic
body {
  padding-top: 130px;
  background: $bodybg url('/assets/bgimage.png') center center no-repeat fixed;
  background-size: cover;
  font-family: "Open Sans";
  font-weight: 300;
}
a {
  color: $secondary;
}
.bgwhite {
  background-color: $light;
  @include box-shadow(0 2px 11px 1px lighten($dark, 30));
  padding: 20px;
}
.nopadding {
  padding: 0!important;
}
.nomargin {
  margin: 0!important;
}
.mb2 {
  margin-bottom: 20px!important;
}
.p3 {
  padding: 30px!important;
}
.shortline {
  height: 3px;
  background-color: $grey1;
  width: 30%;
  margin: 10px 0;
}

//Buttons
.btn {
  @include border-radius(0);
  border: none;
  @include transition(all 300ms ease);

  &:hover {
    background-color: $secondary!important;
  }

  &.btn-primary {
    background-color: $primary;
  }
  &.btn-default,
  &.btn-back {
    background-color: $grey2;
    color: $light;
  }
  &.btn-info {
    background-color: $grey2;
  }
  &.btn-danger {
    &:hover {
      opacity: .9;
      background-color: #d9534f!important;
    }
  }
}

//Font
h2, h3, h4, h5{
  color: $secondary;
}
