#top-header.navbar.navbar-fixed-top.navbar-inverse{:role => "navigation"}
  .container.header-content
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path}
        =image_tag 'logobeta.png'
    .collapse.navbar-collapse
      - unless current_account.blank?
        = active_link_to "<span class='glyphicon glyphicon-th-large'></span>Manage your posts".html_safe, admin_posts_path
        %p.navbar-text.navbar-right.mr0
          = link_to "<span class='glyphicon glyphicon-log-out'></span>Sign out".html_safe, destroy_account_session_path, :method => 'delete'
        %p.navbar-text.navbar-right
          %a.tertiarycolor{:href => account_path(current_account) }
            %span.glyphicon.glyphicon-user
            Your profile (
            = current_account.full_name
            )
      - else
        %p.navbar-text.navbar-right
          = link_to "Sign In", new_account_session_path

